@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

.bg-hero {
  background-color: #2686f0;
}

.skillcard-container {
  margin-right: 0px;
}

.skillcard {
  background: transparent;
}

.skillcard:hover {
  background: #f7f3f3;
  box-shadow: 20px 20px 50px #ebe7e7, -20px -20px 50px #ffffff;
}
